*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100dvh;
}
.inloggningsruta{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.inloggningsruta form{
    background: lightgray;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid black;
}
.ruta{
    width: 100%;
}
.submitbtn{
    width: 100%;
    background: rgb(85, 181, 213);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
}
